/.metadata/
programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
programs/.metadata/version.ini
programs/.metadata/.log
programs/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
programs/.metadata/.log
programs/.metadata/version.ini
