# Java related
target/**
*.jar
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.project
!org.eclipse.swt
!org.eclipse.swt/.project
!org.eclipse.swt/.classpath
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
*.bluej
.recommenders/snipmatch/repositories.config
.recommenders/caches/manual-mappings.json
