/.metadata/
programs/.metadata/.log
programs/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
programs/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
programs/.metadata/version.ini
